



<!-- <div class="productForm" *ngFor="let item of productsInCart['products']"  >
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>



</div> -->
<div class="shopCart" (submit)="onSubmit()">
  <div *ngIf="data.type=='shopping_cart'">
    <div class="shopCart__header">
      <h3><span>Shoppong Cart</span><mat-icon>
        shopping_cart
      </mat-icon></h3>
    </div>
  </div>
  <div *ngIf="data.type=='wishList'">
    <div class="shopCart__header"  >
      <h3><span>Wish-List</span><mat-icon>
        favorite
      </mat-icon></h3>
    </div>
  </div>



  <div class="shopCart__content">
    <mat-card>
      <mat-card-content>

        <table mat-table [dataSource]="productsInCart['products']" class="mat-elevation-z8">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>


      </mat-card-content>
    </mat-card>
  </div>
  <div class="shopCart__footer">
    <div class="example-button-row">
      <button mat-stroked-button (click)="openDeleteDialog()">Delete</button>
      <button mat-stroked-button type="submit" color="primary" (click)="onSubmit()">Pay</button>
    </div>
  </div>
</div>



