
<div class="productForm" *ngIf="productForm">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
<p>
  <mat-form-field appearance="fill">
    <mat-label>title</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="getControl('title').dirty
    && !getControl('title').pristine
    && !getControl('title').valid"
    >The Title Is Not Valid
    </mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-error *ngIf="getControl('description').dirty
    && !getControl('description').pristine
    && !getControl('description').valid"
    >The Description Field is no valid
    </mat-error>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>stock</mat-label>
    <input matInput formControlName="stock">
  </mat-form-field>
  <mat-error *ngIf="getControl('stock').dirty
  && !getControl('stock').pristine
  && !getControl('stock').valid"
  >The Stck Field is no valid
  </mat-error>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>rating</mat-label>
    <input matInput formControlName="rating">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>thumbnail</mat-label>
    <input matInput formControlName="thumbnail">
    <!-- <img mat-card-image src="{{this.product.thumbnail}}" alt="{{this.product.title}}"> -->
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>category</mat-label>
    <mat-select formControlName="category" [formControl]="categoriesList" *ngIf="action!='view'" multiple>
      <mat-option *ngFor="let item of categoryList">{{item}}</mat-option>
    </mat-select>
    <input matInput formControlName="category" *ngIf="action=='view'">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>brand</mat-label>
    <input matInput formControlName="brand">
  </mat-form-field>
</p>

    <button mat-raised-button type="submit" color="primary" [disabled]="!productForm.valid">Submit</button>
  </form>

</div>


