<div class="card" *ngIf="product" [ngSwitch]="action">
  <mat-card class="example-card" *ngSwitchCase= "'home'">
    <mat-card-header>
      <ng-content select=".header"></ng-content>
    </mat-card-header>
    <img mat-card-image class="card__img"
      src="{{product.images[0]}}"
      alt="{{product.description}}">
    <mat-card-content class="card__dsc">
      {{product.description}}

    </mat-card-content>
    <mat-card-actions class="card__price">
      {{product.price | currency}}
      <button mat-button >LIKE</button>
      <button mat-button >ADD TO CART</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" *ngSwitchCase= "'view'">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
      <ng-content select=".header"></ng-content>
    </mat-card-header>
    <img mat-card-image class="card__img"
      src="{{product.images[0]}}"
      alt="{{product.description}}">
    <mat-card-content class="card__dsc">
      {{product.description}}
    </mat-card-content>
    <mat-card-actions class="card__price">
      {{product.price | currency}}

    </mat-card-actions>
  </mat-card>
</div>

