<div class="card" *ngIf="product" [ngSwitch]="action">
  <mat-card class="example-card" *ngSwitchCase= "'home'">
    <mat-card-header>
      <ng-content select=".header"></ng-content>
    </mat-card-header>
    <div *ngIf="product.images; else defaultPic">
      <img mat-card-image class="card__img"
      src="{{product.images[0]}}"
      alt="{{product.description}}">
    </div>
    <ng-template #defaultPic>
      <img mat-card-image class="card__img"
      src="https://media.istockphoto.com/id/1256055447/vector/a-doodle-style-phone-isolated-on-a-white-background-image-with-a-black-line-use-it-as-an.jpg?s=612x612&w=0&k=20&c=GWzwVcvX8DB_icKe_C4TvGYHapiE9xPxfPRLAWAs9F4="
      alt="{{product.description}}">
    </ng-template>

    <mat-card-content class="card__dsc">
      {{product.description}}

    </mat-card-content>
    <mat-card-actions class="card__price">
      {{product.price | currency}}
      <button mat-button (click)="addToWishList(product);">LIKE</button>
      <button
        *ngIf="!isInCart; else removeBtn"
        mat-button
        color="primary"
        (click)="onAddToCart(product)"
      >
        Add To Cart
      </button>

      <ng-template #removeBtn>
        <button mat-button
        color="warn"
        *ngIf="isInCart"
        (click)="removeFromCart(product.id)">
          Remove From Cart
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>

